{% extends('base.html.twig') %}
{% block content %}
<div class="row">
<div class="col-12">

<h1>Disclaimer</h1>
<p>Last updated: April 4, 2021</p>
<h1>Interpretation and Definitions</h1>
<h2>Interpretation</h2>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions.
The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
<h2>Definitions</h2>
<p>For the purposes of this Disclaimer:</p>
<ul>
<li><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Disclaimer) refers to WeAreYogis.</li>
<li><strong>Service</strong> refers to the Website.</li>
<li><strong>Website</strong> refers to WeAreYogis platform, accessible from <a href="https://weareyogis.net" rel="external nofollow noopener" target="_blank">https://weareyogis.net</a></li>
<li><strong>You</strong> (referred to as either "Visitor", "User", "Member" or "Author" in this Disclaimer) means the individual accessing the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</li>
<li><strong>Contribution</strong> refers to all material published by the Users of the Service, and may include, but is not limited to: Posts, Video Posts, Images, Forum Topics, Events, as well as any type of published Comments, Messages and Notifications.</li>
</ul>


<h1>Disclaimer</h1>
<p>The information contained on the Service is for general information purposes only.</p>
<p>The Company assumes no responsibility for errors or omissions in the contents of the Service.</p>
<p>In no event shall the Company be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. The Company reserves the right to make additions, deletions, or modifications to the contents on the Service at any time without prior notice. This Disclaimer has been created with the help of the <a href="https://www.termsfeed.com/disclaimer-generator/" target="_blank">Disclaimer Generator</a>.</p>
<p>The Company does not warrant that the Service is free of viruses or other harmful components.</p>


<h1>External Links Disclaimer</h1>
<p>The Service may contain links to external websites or services that are not provided or maintained by or in any way affiliated with the Company.</p>
<p>The Company does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites. The Company has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. </p>
<p>Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such web sites or services. Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. We strongly advise You to read the terms and conditions and privacy policies of any third-party web sites or services that You visit.</p>


<h1>Errors and Omissions Disclaimer</h1>
<p>The information given by the Service is for general guidance on matters of interest only. Even if the Company takes every precaution to insure that the content of the Service is both current and accurate, errors can occur. Plus, given the changing nature of laws, rules and regulations, there may be delays, omissions or inaccuracies in the information contained on the Service.</p>
<p>The Company is not responsible for any errors or omissions, or for the results obtained from the use of this information.</p>
<h1>Fair Use Disclaimer</h1>
<p>The Company may use copyrighted material which has not always been specifically authorized by the copyright owner. The Company is making such material available for criticism, comment, news reporting, teaching, scholarship, or research.</p>
<p>The Company believes this constitutes a &quot;fair use&quot; of any such copyrighted material as provided for in section 107 of the United States Copyright law. On an explicit request from a copyright owner, through our contact page, the Service will remove their material.</p>
<p>If You wish to use copyrighted material from the Service for your own purposes that go beyond fair use, You must obtain permission from the copyright owner.</p>


<h1>Views Expressed Disclaimer</h1>
<p>The Service may contain views and opinions which are those of the Authors and do not necessarily reflect the official policy or position of any other Author, agency, organization, employer or company, including the Company.</p>
<p>Published Contributions are the sole responsibility of their Authors and the Authors will take full responsibility, liability and blame for any libel or litigation that results from something written in or as a direct result of something written in their Contributions. The Company is not liable for any Contributions published by users and reserve the right to delete any User Contribution for any reason whatsoever.</p>

<h1>No Responsibility Disclaimer</h1>
<p>The information on the Service is provided with the understanding that the Company is not herein engaged in rendering legal, accounting, tax, health, or other professional advice and services. As such, it should not be used as a substitute for consultation with professional accounting, tax, legal, health or other competent advisers.</p>
<p>In no event shall the Company or its suppliers be liable for any special, incidental, indirect, or consequential damages whatsoever (including, but not limited to, damages for loss of profits, loss of data or other information, for business interruption, for personal injury, loss of privacy arising out of or in any way related to the use of or inability to use the Service, third-party software and/or third-party hardware used with the Service, or otherwise in connection with any provision of this Disclaimer).</p>


<h1>Donations Disclaimer</h1>
    <p>Any financial support in the form of donations are considered as gifts to the Company made by Members voluntarily through PayPal with no conditions. The Company is not registered as charity or non-profit organization and does not provide any tax-deductible information to the Donors.</p>

    <h1>&quot;Use at Your Own Risk&quot; Disclaimer</h1>
<p>All information in the Service is provided &quot;AS IS&quot; and &quot;AS AVAILABLE&quot;, with no guarantee of completeness, accuracy, timeliness or of the results obtained from the use of this information, and without warranty of any kind, express or implied, statutory or otherwise, including, but not limited to warranties of performance, merchantability and fitness for a particular purpose. The Company will not be liable to You or anyone else for any decision made or action taken in reliance on the information given by the Service or for any consequential, special or similar damages, even if advised of the possibility of such damages.</p>
<p>Without limiting the foregoing, neither the Company nor any of the company's provider makes any representation or warranty of any kind, express or implied: (i) as to the operation or availability of the Service, or the information, content, and materials or products included thereon; (ii) that the Service will be uninterrupted or error-free; (iii) as to the accuracy, reliability, or currency of any information or content provided through the Service; (iv) that the Service, its servers, the content, or e-mails sent from or on behalf of the Company are free of viruses, scripts, trojan horses, worms, malware, or other harmful components; or (v) that any errors or defects can or will be corrected. The Company provides no warranty or undertaking, and makes no representation of any kind that the Service will meet Your requirements, achieve any intended results, be compatible or work with any other software, applications, systems or services, or meet any performance or reliability standards.</p>


<h1>Contact Us</h1>
<p>If you have any questions about this Disclaimer, You can contact Us:</p>
<ul>
<li>By visiting this page on our website: <a href="https://weareyogis.net/contact" rel="external nofollow noopener" target="_blank">https://weareyogis.net/contact</a></li>
</ul>

</div>
</div>
{% endblock %}