{% extends('base.html.twig') %}
{% block content %}
<div class="row">
<div class="col-12">

<h1>Terms and Conditions</h1>
<p>Last updated: April 4, 2021</p>
<p>Please read these terms and conditions carefully before using Our Service.</p>
<h1>Interpretation and Definitions</h1>
<h2>Interpretation</h2>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
<h2>Definitions</h2>
<p>For the purposes of these Terms and Conditions:</p>
<ul>
<li>
<p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to WeAreYogis</p>
</li>
<li>
<p><strong>Service</strong> (referred to also as &quot;Website&quot; in this Agreement) refers to WeAreYogis platform, accessible from <a href="https://weareyogis.net" rel="external nofollow noopener" target="_blank">https://weareyogis.net</a></p>
</li>
<li>
<p><strong>Country</strong> refers to: Nordrhein-Westfalen,  Germany</p>
</li>
<li>
<p><strong>You</strong>  (also referred as &quot;Visitor&quot;, &quot;User&quot;, &quot;Member&quot; or &quot;Author&quot;) means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
</li>
<li>
<p><strong>Contribution</strong> refers to all material published by the Users of the Service, and may include, but is not limited to: Posts, Video Posts, Images, Forum Topics{#, Events,#} as well as any type of published Comments, Messages and Notifications.
</p></li>
<li>
<p><strong>Social Service</strong> means any Service or content (including data, information, products or services) provided by a third-party that may be displayed, included or made available by the Service.</p>
</li>
<li>
<p><strong>Terms and Conditions</strong> (also referred as &quot;Terms&quot;) mean these Terms and Conditions that form the entire agreement between You and the Company regarding the use of the Service. This Terms and Conditions agreement has been created with the help of the <a href="https://www.termsfeed.com/terms-conditions-generator/" target="_blank">Terms and Conditions Generator</a>.</p>
</li>

</ul>


<h1>Acknowledgment</h1>
<p>These are the Terms and Conditions governing the use of this Service and the agreement that operates between You and the Company. These Terms and Conditions set out the rights and obligations of all Users regarding the use of the Service.</p>
<p>Your access to and use of the Service is conditioned on Your acceptance of and compliance with these Terms and Conditions. These Terms and Conditions apply to all Visitors, Users and others who access or use the Service.</p>
<p>By accessing or using the Service You agree to be bound by these Terms and Conditions. If You disagree with any part of these Terms and Conditions then You may not access the Service.</p>
    <p>You represent that you are over the age of 18. The Company does not permit those under 18 to use the Service.</p>
<p>Your access to and use of the Service is also conditioned on Your acceptance of and compliance with the Privacy Policy of the Company. Our Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your personal information when You use the Service and tells You about Your privacy rights and how the law protects You. Please read Our Privacy Policy carefully before using Our Service.</p>



<h1>Conditions for the use of the Service</h1>
<p>The Service is available on the Internet through the Website <a href="http://weareyogis.net ">http://weareyogis.net</a> as well as under various subdomains and aliases of these domains and via mobile applications (so-called &quot;apps&quot;), background applications, web services and integration into third-party sites. All subdomains, aliases, mobile applications, background applications, web services and links to third pages on which Company is available are hereinafter referred to as &quot;Services&quot;.</p>
<p>These Terms and Conditions for the use of Services govern the contractual relationship between the User and Company, regardless of which of our Services the User uses. {#Regarding the use of individual Services such as "Event Organization" by registered Members, additional conditions may apply in addition to these Terms and Conditions, and  are defined by the organizing Members.#} The Terms and Conditions for Company and any additional conditions for the use of individually organized services by other Users are hereinafter referred to collectively as &quot;Terms&quot;.</p>
<p>The contractual language between the Participant and Company is English.</p>



<h2>Object of the contract and basics of the use of Service</h2>
<p>The core Service of Company is providing a Social Network Platform.<p>
    <p>Depending on the registration status of the User, a User may have different permissions to access different Service domains and use the Service.</p>
    <ul>
        <li><p><b>Visitors</b> (also referred to as &quot;Guest Users&quot;) refers to the individuals with the right to access the public domain of the Service. Visitors have no rights to publish Contributions or engage in networking with other Users through the Service.</p></li>
        <li><p> <b>Registered Users</b> refers to the individuals with the right to access also the member domains of the Service. Their private information (Name and Email) are being collected by the Service during the registration process. A Registered User has no rights to create and publish Contributions nor to interact with other Users through the Service, before verifying his/her email. </p></li>
        <li><p><b>Members</b> (also referred to as &quot;Authors&quot; and &quot;Organizers&quot;) refers to the individuals who either registered using Social Media Single Sign-On or verified their email upon registration on the Website. Members have rights to access all member domains of the Service, to create and publish Contributions, as well as to engage in communication and networking with other Members.</p></li>
    </ul>

    <p>Registered Users and Members have the possibility to create a profile page within the framework of the Service (hereinafter referred to as &quot;User profile&quot;). User Profile represents the identity with which the User appears and is represented within the Services and the associated applications. A visible User profile is required for the creation and publication of Contributions to the the Social Network. There may be individual Services of Company where the User does not appear and is not represented with his/her User profile. Users can choose if their User Profile is visible to everybody (i.e. appear in the public domain of the Service) or is visible only to Registered Users and Members.</p>

<p>Identification of persons on the Internet is only possible to a limited extent. Therefore, Company cannot determine with certainty whether a registered User is the person the User claims to be. Company does not guarantee the actual identity of a User; a User must convince himself of the identity of another User.</p>

<p>The User warrants that all data provided by him/her is true and complete. The User is obliged to keep the data true and complete regarding all applications used by the User during the entire term of the contract. Company reserves the right to delete or correct doubtful data.</p>

<p>The User warrants that he has reached the age of at least 18 years. Registration under the age of 18 is not permitted.</p>

<p>In the event that the User acts on behalf of a legal entity within the framework of certain applications, the User warrants that he is authorized to act on behalf of the legal entity. Upon request, the User shall provide Company with evidence of the information assured in accordance with this clause.</p>



<h2>Obligations of the User and special provisions for the use of the Service</h2>

<p><b>The User is obliged to:</b></p>

<ul>
<li><p>When registering with Company, to consider a secure password. To keep the password chosen secret. Company will not pass on the password to third parties, will only use it for the registration process and will not ask the User for the password at any time - apart from the registration process. The security and storage of the access data to the User profile is the exclusive responsibility of the User.</p></li>

<li><p>Each User may only create one User profile. The User may not allow third parties to use his own User profile. Conversely, Users may not use the User profile of third parties.</p></li>

<li><p>The User may only make true and not misleading statements and use his clear name and no pseudonyms or artist names.</p></li>

<li><p>As profile picture in the User profile only such a photo may be used, on which the User is clearly recognizable. The User shall ensure that the public reproduction of the profile picture transmitted by him on the Services is permitted in accordance with applicable law. The use of photos or images of other or non-existent persons is not permitted.</p></li>

    <li><p>When using Company and the contents on the Services, the User must observe all applicable laws as well as all rights of third parties.</p></li>
</ul>

<p><b>The User commits himself to refrain from the following:</b></p>

<ul>
<li><p>Use of insulting or defamatory content, regardless of whether this content affects other Users, other persons or companies.</p></li>

<li><p>Use of pornographic, violence-glorifying, abusive, immoral or youth protection laws violating content or application, offer and/or distribution of pornographic, violence-glorifying, abusive, immoral or youth protection laws violating goods or Services.</p></li>

<li><p>Unacceptable harassment of other Users, through spam and stalking.</p></li>

<li><p>Use of content protected by law (e.g. by copyright, trademark, patent, design patent or utility model law) without being entitled to do so, or advertising, offering and/or distributing goods or Services protected by law without also being entitled to do so.</p></li>

<li><p>Performing or promoting anti-competitive activities, including progressive customer advertising (such as chain, snowball or pyramid schemes).</p></li>

<li><p>Implementation, promotion and promotion of sales activities (such as marketing, sending chain letters, sending advertising e-mails).</p></li>

<li><p>Making offensive or sexual communication (explicit or implicit).</p></li>
</ul>


<p><b>Users and Third Parties are prohibited from the following actions when using Service</b></p>

<ul>
<li><p>Use of mechanisms, software or scripts in connection with the use of the Services. The direct or indirect advertising or distribution of such mechanisms, software or scripts is also prohibited.</p></li>

<li><p>Distribution and public reproduction of contents of the Services or of other Users, except for this distribution and public reproduction is provided for within the scope of the respective Company application or the other User has agreed to the distribution and public reproduction; and/or any action that is likely to impair the functionality of the Company infrastructure, to overload it excessively.</p></li>

<li><p>Company is not obliged to make data and/or information provided by the User available to other Users if this data and/or information is not in accordance with paragraphs above. Company is entitled to remove inadmissible data and/or information from the Services without prior notice to the User in accordance with these Terms.</p></li>
</ul>

<h2>User Contributions</h2>

    <p>Members have the possibility to freely contribute to the Service by writing blog posts, writing posts with links to their videos on YouTube, uploading images to the Service in order to add them to these posts or User Profile. Members can initiate forum discussions and freely add comments to published posts or forums of other Members. {#Members may also organize and publicise through the Service free online events. Members who participate on these events can review them anonymously.#} Members may also freely engage in communication and networking with other Members, either through direct messaging or general notifications, or by following other members Contributions.</p>


    <p>The official language of the Company and Service is English. All Contributions should be created in <b>English</b> language.</p>

    <p>
    User Contributions are made visible to other Members only upon their publication. Some Contributions such as Posts {#and Forums #} are also made visible to Guest Users upon publication. For all Contributions, the Authors can choose if their User Profile connected to that Contribution is visible to Guest Users or not, and can change their setting anytime. {# Upon publication contributions can be edited only to certain extent.#}</p>

        <p>
            Users can at anytime delete their Contributions, with exception of comments. and forum topics with more than 4 comments. {#and cancelled events. <b>(i)</b>#} Comments are made in context of a Contribution and other comments to that Contribution. Hence removing them arbitrary may lead to misinterpretation of comments of other Members. <b>(ii)</b> Forums with more than 4 comments may contain valuable information from other Members as well, and as such are property of the community rather than the User that initiated the forum. {#<b>(iii)</b> Cancelled events will not be visible in events section of the Service and cannot be searched for, but cannot be deleted before their planned date, so that the Members that bookmarked them can see that cancellation took place and that these events are not going to be held.#}
</p>

    <p>While direct Member messages created through the Service are only visible to members directly involved in this communication, User notifications created through the Service are visible to all Members in User's network, i.e. to all Members You follow and to all Member You are following. You may also receive direct messages and notifications from the Website administrators. You can only delete messages created by You.</p>

    <p><b>User Contribution Requirements:</b></p>

    <p>The following shall be omitted in all User Contributions</p>
    <ul>

        <li><p>Use of insulting or defamatory content, regardless of whether this content affects other Users, other persons or companies.</p></li>

        <li><p>Use of pornographic, violent, abusive, immoral or harmful content or advertise, offer and/or distribute pornographic, violent, abusive, immoral or harmful content.</p></li>

        <li><p>Use of content protected by law (e.g. by copyright, trademark, patent, design patent or utility model law) without being entitled to do so, or advertising, offering and/or distributing goods or Services protected by law without also being entitled to do so.</p></li>
    </ul>


    <p><b>Requirements for the publication of image files</b></p>

<ul>
    <li><p>Before uploading an image file, the User must ensure that he has exclusive rights of use to the photo or file and that the public accessibility of the image file does not violate statutory provisions, morality and/or the rights of third parties.</p></li>

    <li><p>It is forbidden to upload image files with depictions of violence via Company and/or to make them publicly accessible; furthermore, the image files may not contain any sexual, discriminatory, insulting, racist, defamatory or other illegal content or depictions. It is also forbidden to upload image files on which company, brand or other logos or other protected signs are displayed exclusively or only among other things.</p></li>

    <li><p>If photographs are to be uploaded on which, in addition to the User, one or more other persons can be identified, both the upload and the marking or linking of the image file may only be carried out with the consent of the third party(s).</p></li>

    <li><p>Use of content protected by law (e.g. by copyright, trademark, patent, design patent or utility model law) without being entitled to do so, or advertising, offering and/or distributing goods or Services protected by law without also being entitled to do so.</p></li>

    <li><p>Company reserves the right to remove image files and/or links to other Users even without prior notice if and to the extent that Company has concrete indications or reports that public access to such files violates statutory provisions, morality and/or the rights of third parties.</p></li>
</ul>


<p><b>Responsibility for contents, data and/or information posted by the Users</b></p>
<ul>
    <li><p>Company accepts no responsibility for the content, data and/or information provided by the Users of the Service or for content on linked external Websites. Company does not guarantee that these contents are true, fulfil a certain purpose or can serve such a purpose.</p></li>

    <li><p>If the User notices any use of the Services in violation of the law or these Terms (including the use of pseudonyms or deceptive identities), he may report this.</p></li>

    <li><p>With regard to data or content that is or was publicly available through the service but that has been stored by a third party, Company has no obligation to prevent such storage by the third party nor is responsible for it.</p></li>

    <li><p>Company merely offers the User a platform and does not participate in the communication between the Users regarding Contributions.</p></li>

    <li><p>If the Users conclude contracts with each other via the Service, Company is not involved in this and therefore does not become a contractual partner. The Users are solely responsible for the processing and fulfilment of the contracts concluded with each other. Company is not liable for breaches of duty by the User arising from the contracts concluded between the Users.</p></li>

    <li><p>Any individual associated with the company may open own private User account, however Company accepts no responsibility for any Contributions from Users which are associated with the Company in any way, direct or indirect. Such Contributions are solely responsibility of the Users that have posted them.</p></li>

    <li><p> Users may be contacted by Service Administrators, through direct messages or general notifications, regarding Service operation matters, such as, but not limited to, Service Terms violation, Service functioning, Service updates, or as an answer to User inquires to the Company. Although those messages are sent in good faith, the Company accepts no responsibility for the content of such messages, as they may represent the view of the Service administrator and not that of the Company.</p></li>

    <li><p>The User acknowledges that 100% availability of the Services is technically impossible. However, Company endeavours to keep the Services available as consistently as possible. Maintenance, security or capacity concerns as well as events beyond the control of Company (e.g. disruptions of public communication networks, power failures etc.) may lead to disruptions or temporary suspension of the Service on the Company &nbsp;Websites.</p></li>

</ul>

{#
<h2>Additional conditions for the organization of free events</h2>
    <ul>
        <li><p>Within the Service, Company offers its Members (the organizing Member is hereinafter referred to as &quot;Organizer&quot;) the opportunity to advertise FREE online events (hereinafter referred to as &quot;Events&quot;). Company itself does not act as an organizer, but merely provides the platform for information exchange. Company does not provide any Service for video and audio streaming, hence it is in the responsibility of the Organizer to organize and provide the advertised Event to the Participants.</p></li>
        <li><p>Company offers its Users (hereinafter referred to as &quot;Participant&quot;) to bookmark such Events and through that get more information about those Events, to get notifications on any updates regarding bookmarked events, to post comments and questions to the Organizer through the Service, and to anonymously review those Events after participating at them. Company acts with its Service only as intermediary for information exchange.</p></li>
        <li><p>Organizer is obliged to provide all events advertised by the Service FREE OF CHARGE to the Participants. In case of violation of this rule the Company has a right to remove the Event from Event listing, remove all Events from that Organizer from the Service, and to ban the Organizer from posting new Events.</p></li>
        <li><p>The Events offered and promoted through the Service are offered in the name of and for the account of third parties. For the participation conditions and general terms and conditions for visiting these Events, apart from the rule that such Events are FREE of charge, Users should contact Organizer directly. In this case a main contract is concluded between the Participant and the Organizer for the execution of the event, which implies the acceptance of the terms and conditions of the respective organizer. Company does not become a contracting party regarding the execution of the event.</p></li>
        <li><p>The information about the respective Event, the available number of Participants, separate event and business terms and conditions are exclusively based on the settings and specifications made by the respective Organizer when creating the offer for the Event on the Service. Company has no influence on these settings; the responsibility for the correctness of the settings lies with the Organizer.</p></li>
        <li><p>If an Event which was posted on the Service in the past or currently is cancelled or changed regarding date, time, number of participants or regarding other essential factors, the Organizer shall notify Participants of the corresponding event change immediately upon becoming aware of it.</p></li>
        <li><p>Company does not assume any liability for the proper performance of the Services of the individual Organizers. The respective organizers are exclusively responsible for the fulfilment as well as for defects of the mediated Event. Company does not assume any liability for Service changes of the Organizer.</p></li>
        <li><p>In case of complaints or other claims against the Organizer, the obligation of Company is limited to the notification of the name and contact of the Organizer.</p></li>
    </ul>
#}
    <h2>Profile Deletion</h2>
    <p>A registered User may delete his or hers Profile at any time on the <a href="{{ path('app_user_account') }}"><b>Account Page</b></a>. While all personal information will be deleted automatically,
        if a User wish also to delete all his/hers Contributions from the Service, the User has to do it manually through the cockpit, before Profile deletion. All contributions that stay not deleted will be linked to
        anonymous User profile and cannot be linked to Users profile anymore, even if the User decides to register again at later time point.</p>

    <h2>Termination</h2>
<p>We may terminate or suspend Your access immediately, without prior notice or liability, for any reason whatsoever, including without limitation if You breach these Terms and Conditions.</p>
<p>Upon termination, Your right to use the Service will cease immediately.</p>

    <h2>Donations</h2>
    <p>
        Registered Users and Members (hereinafter referred to as &quot;Donors&quot;) may decide to support the Service also financially in the form of donations.
        These donations are considered as gifts made voluntarily through PayPal with no conditions. All donations received will be used for financing
        Service infrastructure, its maintenance and further development. While donors will receive receipt from PayPal after transaction has been completed,
        the Company is not registered as charity or non-profit organization and does not provide any tax-deductible information to the Donors.
    </p>
    <p>
        As a sign of appreciation for the support and commitment to the network development, all Donors with recurrent donations, or one-time donations above
        20&#36; will be displayed with Patron wings on the members overview page as well as on the Member info page.
    </p>

    <h2>Governing Law</h2>
<p>The laws of the Country, excluding its conflicts of law rules, shall govern this Terms and Your use of the Service. Your use of the Application may also be subject to other local, state, national, or international laws.</p>
<h2>Disputes Resolution</h2>
<p>If You have any concern or dispute about the Service, You agree to first try to resolve the dispute informally by contacting the Company.</p>
<h2>For European Union (EU) Users</h2>
<p>If You are a European Union consumer, you will benefit from any mandatory provisions of the law of the country in which you are resident in.</p>
<h2>United States Legal Compliance</h2>
<p>You represent and warrant that (i) You are not located in a country that is subject to the United States government embargo, or that has been designated by the United States government as a &quot;terrorist supporting&quot; country, and (ii) You are not listed on any United States government list of prohibited or restricted parties.</p>
<h2>Severability and Waiver</h2>
<h2>Severability</h2>
<p>If any provision of these Terms is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect.</p>
<h2>Waiver</h2>
<p>Except as provided herein, the failure to exercise a right or to require performance of an obligation under this Terms shall not effect a party's ability to exercise such right or require such performance at any time thereafter nor shall be the waiver of a breach constitute a waiver of any subsequent breach.</p>
<h2>Translation Interpretation</h2>
<p>These Terms and Conditions may have been translated if We have made them available to You on our Service.
You agree that the original English text shall prevail in the case of a dispute.</p>
<h2>Changes to These Terms and Conditions</h2>
<p>We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. If a revision is material We will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at Our sole discretion.</p>
<p>By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised terms. If You do not agree to the new terms, in whole or in part, please stop using the Website and the Service.</p>
<h2>Contact Us</h2>
<p>If you have any questions about these Terms and Conditions, You can contact us:</p>
<ul>
<li>By visiting this page on our Website: <a href="https://weareyogis.net/conatct" rel="external nofollow noopener" target="_blank">https://weareyogis.net/conatct</a></li>
</ul>

</div>
</div>
{% endblock %}