<div class="modal fade" id="postImageUploadInfo">
    <div class="modal-dialog modal-md">
        <div class="modal-content bg-default">
            <div class="modal-header border-0" style="padding-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="card col-12">
                        <div class="card-body" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">

                            <h3 class="mb-4">How to Upload Image to your Post</h3>

                            <p>
                                <b>1. Upload image to the Image Gallery </b>
                            </p>
                            <p>
                                <img src="{{ asset('build/images/app/post_img_insert_s1.png') }}" alt="add image to text"/>
                            </p>
                            <p>
                                <b>2. Copy the image path (visible below uploaded image)</b>
                            </p>
                            <p>
                                <img src="{{ asset('build/images/app/post_img_insert_s2.png') }}" alt="image path"/>
                            </p>
                            <p>
                                <b>3. In the text editor, click where you want to insert that image
                                    & click on the insert image icon</b>
                            </p>
                            <p>
                                <img src="{{ asset('build/images/app/post_img_insert_s3.png') }}" style="max-width:100%;" alt="add image to text"/>
                            </p>
                            <p>
                                <b>4. Paste the image path & press save.</b>
                            </p>
                            <p>
                                <img src="{{ asset('build/images/app/post_img_insert_s4.png') }}" style="max-width:100%;" alt="add image to text"/>
                            </p>
                            <p>
                                <b>5. Image should appear in your text.</b>
                            </p>
                            <p>
                                <b>6. Finally, click the post update button to save changes to your post text.</b>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
