<div class="modal fade" id="youtubeVideoIdInfo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-default">
            <div class="modal-header border-0" style="padding-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="card col-12">
                        <div class="card-body" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;">

                            <h3 class="mb-4">How to add YouTube video</h3>

                            <p>
                                1. Go to a YouTube video you want to share. <br>
                                <small>
                                    for example: <a href="https://www.youtube.com/watch?v=PTc8X37oJBE"
                                    rel="nofollow">https://www.youtube.com/watch?v=PTc8X37oJBE</a>
                                </small>
                            </p>

                            <p>
                                2. Click on a <b>"Share"</b> button under the video
                            </p>
                            <p>
                                3. A new pop-up window will open (see image)
                            </p>
                            <p>
                                <img src="{{ asset('build/images/app/youtube-share-url.png') }}" alt="youtube share url"/>
                            </p>
                            <p>
                                4. Sharable YouTube video URL is below social media icons <br>
                                <small>highlighted in the example above: <b>https://youtu.be/PTc8X37oJBE</b></small>
                            </p>
                            <p>
                                4. Copy this URL
                            </p>

                            <p>
                                5. After pasting the URL and saving your changes, you should see the preview of your video
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
