<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WeAreYogis</title>

    <link rel="stylesheet" href="{{ asset('plugins/adminlte/adminlte.min.css') }}">
    {{ encore_entry_link_tags('fonts') }}
</head>
<body class="hold-transition register-page" style="
        background-image: url({{ asset('build/images/app/homepage.jpg') }});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;">

    <div class="row">
        <div style="background-color:white; padding:50px; border-radius:50px; margin-top:-220px; text-align: center; opacity: 0.9;">
            <div style="font-family:'Barkentina Test Regular'; font-weight: bold;">
                <div style="font-size: 2em; color:#0b88d0;">WeAreYogis</div>
                <div style="font-size: 4em; color:#df3487;">Social Network for Yogis</div>
                <h2 style="padding-top:25px; color:#0b88d0;">
                    <!-- The site is currently under maintenance.<br>We will be back shortly. -->
                    We are lunching soon<br>
                </h2>
            </div>

        </div>
    </div>
</body>
</html>