{% extends ('email/base.html.twig')  %}

{% block emailbody %}

    <row>
        <columns>
            <center>
                <div>
                    To reset your password, please visit the following link:
                </div>
            </center>
            <spacer size="35"></spacer>
            <center>
                <div>
                    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
                        {{ url('app_reset_password', {token: resetToken.token}) }}
                    </a>
                </div>
            </center>
            <spacer size="35"></spacer>
            <center>
                <div>
                    This link will expire in {{ tokenLifetime|date('g') }} hour(s).
                </div>
            </center>

            <spacer size="35"></spacer>
            <center>
                <div>
                    If you did not request password reset, don´t worry your password is safe.
                </div>
            </center>
            <center>
                <div>
                    Just ignore this message.
                </div>
            </center>

        </columns>
    </row>

{% endblock %}