{% extends ('email/base.html.twig')  %}

{% block emailbody %}

    <row>
        <columns>
            <h3>
            <center>
                <div>
                    Namaste {{ email.toName|split(' ')[0] }} and Welcome
                </div>
            </center>
            </h3>
            <spacer size="35"></spacer>
            <center>
                <div>
                    We're so excited that you've decided to join.
                </div>
            </center>
            <spacer size="35"></spacer>
            <center>
                <div>
                    As any social network we are also as successful as our members are engaged.
                </div>
            </center>
            <center>
                <div>
                    So, get engaged, share, inspire and get inspired.
                </div>
            </center>
        </columns>
    </row>

{% endblock %}