{% extends ('email/base.html.twig')  %}

{% block emailbody %}

    <row>
        <columns>
            <h3>
            <center>
                <div>
                    Namaste {{ email.toName|split(' ')[0] }} and Welcome
                </div>
            </center>
            </h3>
            <spacer size="35"></spacer>
            <center>
                <div>
                    We're so excited that you've decided to join.
                </div>
            </center>
            <spacer size="35"></spacer>
            <center>
                <div>
                    To start your journey with us
                </div>
            </center>
            <center>
                <div>
                    please first verify your email by clicking on a link below.
                </div>
            </center>
        </columns>
    </row>

    <row>
        <columns>
            <spacer size="35"></spacer>
            <center>
                <button href="{{ verifyUrl }}">Verify your email</button>
            </center>
        </columns>
    </row>

    <row>
        <columns>
            <center>
                This link will expire in {{ verifyUrlExpiresAt|date('g') }} hour(s).
            </center>
        </columns>
    </row>

{% endblock %}